<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.erp.mapper.ProjectOddInfMapper">
    <resultMap id="ProjectOddInfMapper" type="com.erp.model.ProjectOddInf">

    </resultMap>

    <select id="selectProjectOddInfCount" resultType="java.lang.Integer">

    </select>

    <select id="selectApproveUser" resultMap="ProjectOddInfMapper">

    </select>

    <update id="updateProcessInstanceIdProjectOddInf" parameterType="com.erp.model.ProjectOddInf">

    </update>

    <update id="updateStatusProjectOddInf" parameterType="com.erp.model.ProjectOddInf">

    </update>


</mapper>
