<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.erp.mapper.RoughOddInfMapper">
    <resultMap id="RoughOddInfMapper" type="com.erp.model.RoughOddInf">

    </resultMap>

    <select id="selectRoughOddInfCount" resultType="java.lang.Integer">

    </select>

    <select id="selectApproveUser" resultMap="RoughOddInfMapper">

    </select>

    <update id="updateProcessInstanceIdRoughOddInf" parameterType="com.erp.model.RoughOddInf">

    </update>

    <update id="updateStatusRoughOddInf" parameterType="com.erp.model.RoughOddInf">

    </update>


</mapper>
