<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.erp.mapper.RoughOddVaryInfMapper">
    <resultMap id="RoughOddVaryInfMapper" type="com.erp.model.RoughOddVaryInf">

    </resultMap>

    <select id="selectRoughOddVaryInfCount" resultType="java.lang.Integer">

    </select>

    <select id="selectApproveUser" resultMap="RoughOddVaryInfMapper">

    </select>

    <update id="updateProcessInstanceIdRoughOddVaryInf" parameterType="com.erp.model.RoughOddVaryInf">

    </update>

    <update id="updateStatusRoughOddVaryInf" parameterType="com.erp.model.RoughOddVaryInf">

    </update>


</mapper>
