<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.erp.mapper.TestMapper">

    <resultMap id="TestMap" type="com.erp.model.Test">
    </resultMap>

    <select id="selectApproveTest" resultMap="TestMap">
      SELECT u.* FROM testInfo u where status='未审核' and processInstanceId ='';
    </select>

    <select id="selectTestCount" resultType="java.lang.Integer">
      SELECT count(*)  FROM testInfo where status='未审核' and processInstanceId ='';
    </select>

    <update id="updateStatusTest" parameterType="com.erp.model.Test">
        update testInfo set
        <if test="status!=null">status=#{status}</if>
        where processInstanceId=#{processInstanceId}
    </update>

    <update id="updateProcessInstanceIdTest" parameterType="com.erp.model.Test">
        update testInfo set
        <if test="processInstanceId!=null">processInstanceId=#{processInstanceId}</if>
        where id=#{id}
    </update>
</mapper>